*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
#logo{
    font-family: 'Kurale';
    text-decoration: underline;
    color: rgb(33, 122, 131);
}
body{
    font-family: "raleway", sans-serif;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
}
header h2{
    padding: 2rem;
}
.search-form{
    padding: 2rem;
    display: flex;
}
.search-form input{
    font-size: 2rem;
    padding: 0.5rem;
    width: 100%;
    border: none;
    border: solid 2px rgb(33, 122, 131);
    outline: none;
}
button{
    border: none;
    padding: 0.5rem;
    background-color: rgb(33, 122, 131);
    color: white;
    font-size: 1rem;
    font-family: "raleway", sans-serif;
}
#more button{
    padding: 0.75rem 1rem;
}
.gallery-img-container{
    height: 30rem;
    width: 20rem;
    margin: 1rem;
    /* background-color: rgb(33, 122, 131); */
}
.gallery-img{
    height: calc(100% - 1.25rem);
    width: 100%;
    /* background-image: url(../designtoons/bottlegreen.png); */
    background-size: cover;
}
.gallery-title-area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 1.25rem;
    color: rgb(33, 122, 131);
}
.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
justify-content: center;}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}